In [ ]:
!pip install pandas

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5])
print(s)

In [ ]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

In [ ]:
s["a":"c"]

In [ ]:
#print(s+8 > 10)
print(s+8)

In [ ]:
print(s.apply(lambda x:x+8))

In [ ]:
def guvi(a):
    return a+8
print(s.apply(guvi))

In [ ]:
print(s.describe()) #

In [ ]:
print(s.sum())
print(s.mean())
print(s.median())
print(s.min())
print(s.max())
print(s.std())
print(s.unique())
print(s.var())
print(s.sort_values())
print(s.sort_index())
print(s.value_counts())

In [ ]:
# DATAFRAME

In [ ]:
df=pd.read_csv(r"C:\Users\Python Class\1.01. Simple linear regression.csv")
df

In [ ]:
!pip install openpyxl

In [ ]:
df=pd.read_excel(r"C:\Users\Python Class\Country-Code.xlsx")
df

In [ ]:
df.info()

In [ ]:
df.describe()

In [31]:
print(df.columns)

Index(['Country Code', 'Country'], dtype='object')

In [ ]:
print(df.shape)
print(df.size)
print(df.isnull())
print(df.isnull().sum())

In [38]:
df1=df[["Country Code","Country"]]
print(df1.isnull().sum())

Country Code    0
Country         0
dtype: int64

In [ ]:
#11/03/2025

In [ ]:
import pandas as pd
data={'year':[10,11,12,11,12,10,11,12],
        'team':['CSK','MI','MI','SRH','KKR','CSK','CSK','CSK'],
        'wins':[11,8,10,15,11,6,10,4],
        'losses':[5,8,6,1,5,10,6,12]}
ipl=pd.DataFrame(data)
print(ipl)

In [ ]:
# syntax of iloc = iloc['row','column']

In [ ]:
print(ipl[['year','team']].iloc[0:3])

In [ ]:
print(ipl.iloc[0:3,0:2])

In [ ]:
print(ipl[['year','wins']].iloc[1:4])

In [ ]:
print(ipl.iloc[[1,2,4],[1,2]])

In [ ]:
!pip install matplotlib

In [ ]:
ipl.plot()

In [ ]:
ipl.boxplot()

In [ ]:
ipl['year'].hist()

In [ ]:
print(ipl.loc[ipl['wins']>10,'team'])

In [ ]:
print(ipl.loc[ipl['wins']>10])

In [ ]:
print(ipl.isnull().sum())

In [14]:
#to save this dataframe
ipl.to_csv('ipl.csv')

In [ ]:
print(ipl.loc[:,'wins'])

In [ ]:
ipl['wins']>10

In [ ]:
a=ipl.loc[ipl['wins']>10]
a.iloc[:,[1,2]]

In [ ]:
#truncat,join,gropuby

In [ ]:
data1 = {
  'ID': ['1','2','3','4','5'],
  'Feature1': ['A','B','C','D','E'],
  'Feature2': ['L','M','N',"O",'P']
}
df1 = pd.DataFrame(data1, columns = ["ID", "Feature1", "Feature2"])


d2 = {
  'ID': ['1','3','6','7','8'],
  'Feature1': ['AB','BC','CD','DE','EF'],
  'Feature2': ['KL','LM','M-N',"N-O",'O-P']
}


df2 = pd.DataFrame(d2, columns = ["ID", "Feature1", "Feature2"])
print(df1)
print(df2)

In [ ]:
print(pd.concat([df1,df2]))

In [ ]:
    print(pd.concat([df1,df2],axis=1)) # axis will attach it to the column

In [ ]:
a=pd.merge(df1,df2,on='ID',how='inner')
print(a)

In [ ]:
a=pd.merge(df1,df2,on='ID',how='outer',indicator=True)
print(a)

In [ ]:
result = pd.merge(df1, df2, on='ID', how='outer', indicator=True).query('_merge == "left_only" or _merge == "right_only"')
print(result)

In [ ]:
a = pd.merge(df1, df2, on='ID', how='outer', indicator=True)
uncommon_rows = a[a['_merge'] != 'both']
print(uncommon_rows)

In [ ]:
#12/03/2025
# GROUP BY/PIVOT

In [ ]:
import pandas as pd
ndata = pd.read_csv(r"C:\Users\Python Class\Guvi_Class\titanic.csv")

In [ ]:
display(ndata)

In [ ]:
#groupby
a=ndata.groupby('Pclass')
a.apply(display) #BECAUSE DISPLAYING MULTIPLE DATA FRAMES

In [ ]:
a=ndata.groupby('Pclass')
print(a.ngroups) # to find number of group
print(a.size()) # to find size of each group
b=a.get_group(1) #separating a particular group and calling group 1
display(b)

In [ ]:
a=ndata.groupby('Pclass').agg({'Age':'mean'})
display(a)

In [ ]:
a=ndata.groupby('Pclass').agg({'Age':['mean','count']})
display(a)

In [ ]:
a=ndata.groupby('Pclass').agg({'Age':['mean','count','min','max','std','median']})
display(a)

In [ ]:
a=ndata.groupby(['Pclass','Sex']).agg({'Age':['mean','count']})
display(a)

In [ ]:
#Pivot Table
pivot_table= pd.pivot_table(ndata,values='Age',index='Pclass',aggfunc=['mean','count'])
print(pivot_table)

In [ ]:
#filtering data
a=ndata[ndata['Age']<20]
#display(ndata['Age']<20)
display(a)

In [ ]:
c=ndata[ndata['Name']=='Futrelle, Mrs. Jacques Heath (Lily May Peel)']
display(c)

In [ ]:
#DATA ENGINEERING
import pandas as pd
adata = pd.read_csv(r"C:\Users\Python Class\Guvi_Class\airbnb.csv")
display(adata)

In [ ]:
adata.describe()

In [5]:
adata['coordinates']=adata['coordinates'].str.replace('(','')
adata['coordinates']=adata['coordinates'].str.replace(')','')

In [ ]:
l=adata['coordinates'].str.split(',',expand=True)
display(l)

In [9]:
adata['Latitude']=l[0].astype(float)
adata['Longitude']=l[1].astype(float)
adata.drop(columns="coordinates",inplace=True)

In [ ]:
display(adata)

In [14]:
adata['price']=adata['price'].str.replace('$',"")
adata['price']=adata['price'].astype(float)

In [16]:
adata['price'].isnull().sum()

np.int64(238)

In [21]:
adata['room_type'].unique()

array(['private room', 'entire home/apt', 'private', 'shared room',
       'home'], dtype=object)

In [24]:
adata['room_type'].isnull().sum()

np.int64(0)

In [19]:
adata['room_type']=adata['room_type'].str.lower()
adata['room_type']=adata['room_type'].str.strip()

In [22]:
adata['room_type']=adata['room_type'].replace("private room","private")
adata['room_type']=adata['room_type'].replace("shared room","shared")
adata['room_type']=adata['room_type'].replace("entire home/apt","home")

In [23]:
adata['room_type'].unique()

array(['private', 'home', 'shared'], dtype=object)

In [28]:
adata.groupby("room_type").agg({"price":"mean"})

                price
room_type
home       209.717263
private     88.016309
shared      70.410959

In [29]:
adata.loc[(adata['price'].isna()) & (adata['room_type']=='home'),'price'] = 209.717263
adata.loc[(adata['price'].isna()) & (adata['room_type']=='private'),'price'] = 88.016309
adata.loc[(adata['price'].isna()) & (adata['room_type']=='shared'),'price'] = 70.410959

In [48]:
adata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10019 entries, 0 to 10018
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10019 non-null  int64
 1   listing_id          10019 non-null  int64
 2   name                10014 non-null  object
 3   host_id             10019 non-null  int64
 4   host_name           10017 non-null  object
 5   neighbourhood_full  10019 non-null  object
 6   room_type           10019 non-null  object
 7   price               10019 non-null  float64
 8   number_of_reviews   10019 non-null  int64
 9   last_review         7944 non-null   datetime64[ns]
 10  reviews_per_month   7944 non-null   float64
 11  availability_365    10019 non-null  int64
 12  rating              7944 non-null   float64
 13  number_of_stays     7944 non-null   float64
 14  5_stars             7944 non-null   float64
 15  listing_added       10019 non-null  datetime64[ns]
 16  Latitude            10019 non-null  float64
 17  Longitude           10019 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(5), object(4)
memory usage: 1.4+ MB

In [33]:
adata['last_review']=pd.to_datetime(adata['last_review'],format='%Y-%M-%d')
adata['listing_added']=pd.to_datetime(adata['listing_added'],format='%Y-%M-%d')

In [38]:
import datetime
today=datetime.date.today()
today=pd.to_datetime(today,format='%Y-%M-%d')
print(today)

2025-03-13 00:00:00

In [ ]:
adata.loc[adata['last_review'] > today]
adata.loc[adata['last_review'] < adata['listing_added']]

In [51]:
adata[adata.duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, listing_id, name, host_id, host_name, neighbourhood_full, room_type, price, number_of_reviews, last_review, reviews_per_month, availability_365, rating, number_of_stays, 5_stars, listing_added, Latitude, Longitude]
Index: []

In [ ]:
adata['listing_id'][adata.duplicated(keep='first')].index

In [ ]:
adata.drop((adata.duplicated(keep='first').index),axis=0)

In [52]:
adata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10019 entries, 0 to 10018
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          10019 non-null  int64
 1   listing_id          10019 non-null  int64
 2   name                10014 non-null  object
 3   host_id             10019 non-null  int64
 4   host_name           10017 non-null  object
 5   neighbourhood_full  10019 non-null  object
 6   room_type           10019 non-null  object
 7   price               10019 non-null  float64
 8   number_of_reviews   10019 non-null  int64
 9   last_review         7944 non-null   datetime64[ns]
 10  reviews_per_month   7944 non-null   float64
 11  availability_365    10019 non-null  int64
 12  rating              7944 non-null   float64
 13  number_of_stays     7944 non-null   float64
 14  5_stars             7944 non-null   float64
 15  listing_added       10019 non-null  datetime64[ns]
 16  Latitude            10019 non-null  float64
 17  Longitude           10019 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(5), object(4)
memory usage: 1.4+ MB