In [10]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "2XWsHPpwQA4Z6ce.root",
  password = "lFu7DqRUZThvq3kn",
  database = "Guvi",
 
)
mycursor=connection.cursor()

In [3]:
mycursor=connection.cursor()

In [ ]:
mycursor.execute("SELECT * FROM GUVI.DIABETIC")
for i in mycursor:
    print(i)

In [ ]:
!pip install tabulate

In [ ]:
#mycursor.execute("SELECT * FROM GUVI.DIABETIC")   #all table
#mycursor.execute("SELECT BMI,AGE FROM GUVI.DIABETIC")
#mycursor.execute("SELECT PREGNANCIES AS P , BLOODPRESSURE AS B FROM GUVI.DIABETIC LIMIT 20")
#mycursor.execute("SELECT PREGNANCIES, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE<35")
#mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE=35")
#mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE!=35")
#mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE<>35")    #<>NOT EQUAL TO
#mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE IN (21,22,23.24)")    #<>NOT EQUAL TO
#mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE<35 AND OUTCOME =1")    #<>NOT EQUAL TO
#mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE<35 AND (BLOODPRESSURE = 0 OR INSULIN =0)")    #<>NOT EQUAL TO
mycursor.execute("SELECT BLOODPRESSURE, AGE, INSULIN FROM GUVI.DIABETIC WHERE AGE NOT IN (60,40,30,10)")

out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [12]:
mycursor.description

[('BMI', 5, None, None, None, None, 1, 32768, 63),
 ('AGE', 8, None, None, None, None, 1, 32768, 63)]

In [ ]:
#AGGREGATE OR CUMMULATIVE QUERY

#mycursor.execute("SELECT COUNT(*) FROM GUVI.DIABETIC ")
#mycursor.execute("SELECT SUM(OUTCOME) FROM GUVI.DIABETIC")
#mycursor.execute("SELECT AVG(AGE) FROM GUVI.DIABETIC WHERE OUTCOME = 1")
#mycursor.execute("SELECT AVG(AGE) FROM GUVI.DIABETIC WHERE OUTCOME = 0")
#mycursor.execute("SELECT MIN(INSULIN),MAX(INSULIN) FROM GUVI.DIABETIC WHERE OUTCOME = 1")
#subquery
mycursor.execute("SELECT COUNT(*) FROM GUVI.DIABETIC WHERE PREGNANCIES<3 AND OUTCOME=1 AND BLOODPRESSURE > (SELECT AVG(BLOODPRESSURE) FROM GUVI.DIABETIC)")
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

+------------+
|   COUNT(*) |
|------------|
|         49 |
+------------+

In [ ]:
#GROUP BY , ORDER BY
#mycursor.execute("SELECT PREGNANCIES,COUNT(*) FROM GUVI.DIABETIC GROUP BY PREGNANCIES ORDER BY PREGNANCIES")
#mycursor.execute("SELECT PREGNANCIES,OUTCOME,COUNT(*) FROM GUVI.DIABETIC GROUP BY PREGNANCIES,OUTCOME ORDER BY PREGNANCIES" )
mycursor.execute("SELECT PREGNANCIES,OUTCOME,COUNT(*) FROM GUVI.DIABETIC GROUP BY PREGNANCIES,OUTCOME ORDER BY PREGNANCIES,OUTCOME" )


out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
# CASE CONDITION AND MULTIPLE LINE """
mycursor.execute("""SELECT BMI,OUTCOME,CASE 
WHEN (BMI<18) THEN 'UNDERWEIGHT'
WHEN (BMI BETWEEN 18 AND 25) THEN 'NORMAL'
WHEN (BMI BETWEEN 26 AND 30) THEN 'OVERWEIGHT'
ELSE 'OBESE' END AS BMIMETRICS FROM GUVI.DIABETIC""") 
                 
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("""SELECT CASE 
WHEN (BMI<18) THEN 'UNDERWEIGHT'
WHEN (BMI BETWEEN 18 AND 25) THEN 'NORMAL'
WHEN (BMI BETWEEN 26 AND 30) THEN 'OVERWEIGHT'
ELSE 'OBESE' END AS BMIMETRICS,COUNT(*) FROM GUVI.DIABETIC GROUP BY BMIMETRICS """) 
                 
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("""SELECT CASE 
WHEN (BMI<18) THEN 'UNDERWEIGHT'
WHEN (BMI BETWEEN 18 AND 25) THEN 'NORMAL'
WHEN (BMI BETWEEN 26 AND 30) THEN 'OVERWEIGHT'
ELSE 'OBESE' END AS BMIMETRICS,COUNT(*) FROM GUVI.DIABETIC WHERE OUTCOME=1 GROUP BY BMIMETRICS  """) 
                 
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("""SELECT CASE 
WHEN (BMI<18) THEN 'UNDERWEIGHT'
WHEN (BMI BETWEEN 18 AND 25) THEN 'NORMAL'
WHEN (BMI BETWEEN 26 AND 30) THEN 'OVERWEIGHT'
ELSE 'OBESE' END AS BMIMETRICS,COUNT(*),OUTCOME FROM GUVI.DIABETIC GROUP BY BMIMETRICS,OUTCOME HAVING (OUTCOME=1)  """) 
                 
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT PREGNANCIES,AGE,AVG(AGE) OVER(PARTITION BY PREGNANCIES) FROM GUVI.DIABETIC ") 
                 
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
mycursor.execute("SELECT PREGNANCIES,AGE,DENSE_RANK() OVER(PARTITION BY PREGNANCIES ORDER BY AGE DESC) AS ABC FROM GUVI.DIABETIC ") 
                 
out=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out,headers=[i[0] for i in mycursor.description],  tablefmt='psql'))

In [ ]:
#constraints (6 march)

"""NOT NULL - Ensures that a column cannot have a NULL value


UNIQUE - Ensures that all values in a column are different


PRIMARY KEY - A combination of NOT NULL and UNIQUE. Uniquely identifies each row in a table


FOREIGN KEY - Prevents actions that would destroy links between tables


CHECK - Ensures that the values in a column satisfies a specific condition
"""

In [2]:
mycursor.execute("CREATE TABLE stu1 (no INTEGER,name TEXT NOT NULL,school VARCHAR(20)) ")

In [ ]:

a=input("enter no")
b=input("enter name")
c=input("enter school")
query="INSERT INTO GUVI.stu1 (no,name,school) VALUES (%s,%s,%s)"
mycursor.execute(query,(a,b,c))
connection.commit()

In [ ]:
a=input("enter no")
b=input("enter name")
c=input("enter school")
query="INSERT INTO GUVI.stu1 (no,name,school) VALUES (%s,%s,%s)"
mycursor.execute(query,(a,None,c))   # not null constraint you will get erreor
connection.commit()

In [11]:
# unique and check constraints
mycursor.execute("CREATE TABLE u (no INTEGER,name varchar(20) UNIQUE,school VARCHAR(20),age INT CHECK(age<18)) ")

In [ ]:
a=input()
b=input()
c=input()
d=input()
query="INSERT INTO GUVI.u (no,name,school,age) VALUES (%s,%s,%s,%s)"
mycursor.execute(query,(a,b,c,d))
connection.commit()