In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\nithu\appdata\local\programs\python\python312\lib\site-packages (9.2.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
)

print(mydb)
mycursor = mydb.cursor(buffered=True) # cursor is like api to connect to server

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000017730CB66C0>

In [ ]:
mycursor.execute("create database Nivi")

In [ ]:
# 25/02/2025

In [1]:
import mysql.connector

connection = mysql.connector.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "2XWsHPpwQA4Z6ce.root",
  password = "lFu7DqRUZThvq3kn",
  database = "Guvi",
 
)

In [2]:
mycursor=connection.cursor()

In [4]:
mycursor.execute("create database Table4")

In [28]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\nithu\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pymysql

connection = pymysql.connect(
  host = "gateway01.ap-southeast-1.prod.aws.tidbcloud.com",
  port = 4000,
  user = "2XWsHPpwQA4Z6ce.root",
  password = "lFu7DqRUZThvq3kn",
  database = "Guvi",
  ssl_verify_cert = True,
  ssl_verify_identity = True,
  ssl_ca = r"C:\Users\Python Class\isrgrootx1.pem"

)
mycursor=connection.cursor()

FileNotFoundError: [Errno 2] No such file or directory

In [7]:
mycursor.execute("create database Table5")

0

In [8]:
mycursor.execute("drop database Table5")

0

In [13]:
mycursor.execute("show databases")
a=mycursor.fetchall()
for i in a:
    print(i)

('INFORMATION_SCHEMA',)
('Guvi',)
('PERFORMANCE_SCHEMA',)
('Table2',)
('Table3',)
('Table4',)
('mysql',)
('test',)

In [ ]:
#27/02/2025

In [ ]:
mycursor.execute("CREATE TABLE GUVI.EMPLOYEE(FIRST_NAME VARCHAR(20),LAST_NAME VARCHAR(20),AGE INT,SEC VARCHAR(1))")

0

In [23]:
mycursor.execute("INSERT INTO GUVI.EMPLOYEE(FIRST_NAME,LAST_NAME,AGE,SEC)VALUES('NIVI','RAGHU',25,'F')")
connection.commit()

In [30]:
f_name=input("Enter first name")
l_name=input("Enter last name")
age=input("Enter age")
sex=input("Enter Sex")
#mycursor.execute("INSERT INTO GUVI.EMPLOYEE(FIRST_NAME,LAST_NAME,AGE,SEC) VALUES (%s,%s,%s,%s)",(f_name,l_name,age,sex))
mycursor.execute(f"INSERT INTO GUVI.EMPLOYEE(FIRST_NAME,LAST_NAME,AGE,SEC) VALUES ('{f_name}','{l_name}',{age},'{sex}')")
connection.commit()

In [ ]:
#DROP A COLUMN
mycursor.execute("ALTER TABLE GUVI.EMPLOYEE DROP COLUMN SEC")

0

In [ ]:
#ADDING COUMN
mycursor.execute("ALTER TABLE GUVI.EMPLOYEE ADD COLUMN EMAIL VARCHAR(10)")  #ADD AS LAST COLUMN

0

In [36]:
mycursor.execute("ALTER TABLE GUVI.EMPLOYEE ADD COLUMN PHONE VARCHAR(11) FIRST") # ADD AS FIRST COLUMN

0

In [37]:
mycursor.execute("ALTER TABLE GUVI.EMPLOYEE ADD COLUMN SALARY VARCHAR(11) AFTER LAST_NAME ") # ADD IN BTW COLUMN

0

In [42]:
#MODIFY DATA TYPE OR LENGTH
mycursor.execute("ALTER TABLE GUVI.EMPLOYEE MODIFY COLUMN FIRST_NAME VARCHAR(40)")

0

In [43]:
#COLUMN RENAME
mycursor.execute("ALTER TABLE GUVI.EMPLOYEE CHANGE COLUMN FIRST_NAME FNAME VARCHAR(40)")

0

In [ ]:
#DATA WILL DELETED FROM TABLE
mycursor.execute("TRUNCATE TABLE GUVI.EMPLOYEE")

0

In [47]:
#DROP COMPLETE TABLE
mycursor.execute("DROP TABLE GUVI.EMPLOYEE")

0